

:root {
  --bg-primary-color: #F5F0E7;
  --primary-font-family: "Sour Gummy", sans-serif;
}

body {
  font-family: var(--primary-font-family);
  margin: 0;
  padding: 0;
}


.bg-primary-color {
  background-color: var(--bg-primary-color);
}



@import "tailwindcss";